@font-face {
    font-family: 'Tangerine';
    src: url('../fonts/Tangerine-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-tangerine: 'Tangerine', cursive;
}

h1 {
    font-family: var(--font-tangerine);
    font-size: 4rem;
}

.icon {
    vertical-align: text-top !important;
    margin-right: 0.3rem !important;
}

header h1 {
    margin-left: calc(var(--spacing) * -4);
}

header.mt-5 {
    margin-top: calc(var(--spacing) * 15)
}